{set:$siteConfigObj = new Config("site_config");$site_config = $siteConfigObj->getInfo();}

<div class="headbar">
	<div class="position"><span>系统</span><span>></span><span>第三方平台</span><span>></span><span>微信平台</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="#" method="post" name="wechat">
			<table class="form_table">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>
				<tr>
					<th>微商城帮助：</th>
					<td>
						<a href='http://www.aircheng.com' target='_blank'>不知道如何配置？</a>
					</td>
				</tr>

				<tr>
					<th>URL(服务器地址)：</th>
					<td>
						<span class="orange">{echo:IUrl::getHost()}{url:/block/wechat}</span>
						<label>复制到<微信公众平台后台-开发者中心>URL（服务器地址）</label>
					</td>
				</tr>
				<tr>
					<th>Token(令牌)：</th>
					<td>
						<input type='text' class='normal' name='wechat_Token' pattern='required' alt='公众号Token必须填写'  />
						<label>把填写Token(令牌)复制到<微信公众平台后台-开发者中心>的Token中，必须保持两边一致</label>
					</td>
				</tr>
				<tr>
					<th>AppID：</th>
					<td>
						<input type='text' class='normal' name='wechat_AppID' pattern='required' alt='AppID必须填写' />
						<label>登录到<微信公众平台后台-开发者中心>可以获得</label>
					</td>
				</tr>
				<tr>
					<th>AppSecret：</th>
					<td>
						<input type='text' class='normal' name='wechat_AppSecret' pattern='required' alt='AppSecret必须填写' />
						<label>登录到<微信公众平台后台-开发者中心>可以获得</label>
					</td>
				</tr>
				<tr>
					<th>公众平台菜单：</th>
					<td>
						<textarea id='menuData' style='width:60%;height:200px;'></textarea>
						<p><label>菜单的JSON配置，可以登录<微信公众平台后台-自定义菜单> 进行设置<a href='http://mp.weixin.qq.com/wiki/13/43de8269be54a0a6f64413e4dfa94f39.html' target='_blank'>如何配置</a></label></p>
					</td>
				</tr>

				<tr><td></td><td><button class="submit" type="button" onclick="submitConfig();"><span>保 存</span></button></td></tr>
			</table>
		</form>
	</div>
</div>

<script type='text/javascript'>
jQuery(function()
{
	var formobj = new Form('wechat');
	formobj.init({echo:JSON::encode($site_config)});

	//获取菜单信息
	$.getJSON('{url:/system/wechat_getmenu}',function(json)
	{
		if(json.result == 'success')
		{
			$('#menuData').val(json.data);
		}
		else
		{
			alert(json.msg);
		}
	});
});

//ajax提交信息
function submitConfig()
{
	var wechat_Token     = $('[name="wechat_Token"]').val();
	var wechat_AppID     = $('[name="wechat_AppID"]').val();
	var wechat_AppSecret = $('[name="wechat_AppSecret"]').val();

	$.post("{url:/system/save_conf}",{"wechat_Token":wechat_Token,"wechat_AppID":wechat_AppID,"wechat_AppSecret":wechat_AppSecret},function(content)
	{
		saveMenu();
	});
}

//保存菜单
function saveMenu()
{
	var menuData = $('#menuData').val();
	if(!menuData)
	{
		alert('保存成功');
		return;
	}

	$.post("{url:/system/wechat_setmenu}",{"menuData":menuData},function(json)
	{
		if(json.result == 'success')
		{
			alert('菜单修改成功');
		}
		else
		{
			alert(json.msg);
		}
	},'json');
}
</script>