{set:
	$site_config=new Config('site_config');
	$seo_data=array();
	$seo_data['title']=$site_config->name;
	$seo_data['title'].=$site_config->index_seo_title;
	$seo_data['keywords']=$site_config->index_seo_keywords;
	$seo_data['description']=$site_config->index_seo_description;
	seo::set($seo_data);
}

<link rel="stylesheet" type="text/css" href="{theme:javascript/jquery.bxSlider/jquery.bxslider.css}" />
<script type="text/javascript" src="{theme:javascript/jquery.bxSlider/jquery.bxSlider.min.js}"></script>

<div class="wrapper clearfix">
	<div class="sidebar f_r">

			<!--公告通知-->
		<div class="box m_10">
			<div class="title"><h2>公告通知</h2><a class="more" href="{url:/site/notice}">更多...</a></div>
			<div class="cont">
				<ul class="list">
					{foreach:items=Api::run('getAnnouncementList',5)}
					{set:$tmpId=$item['id'];}
					<li><a href="{url:/site/notice_detail/id/$tmpId}">{$item['title']}</a></li>
					{/foreach}
				</ul>
			</div>
		</div>
		<!--公告通知-->
		

		
		{echo:Ad::show(7)}
	</div>

	<!--幻灯片 开始-->
	<div class="main f_l">
		{if:$this->index_slide}
		<ul class="bxslider">
			{foreach:items=$this->index_slide}
			<li title="{$item['name']}"><a href="{url:$item[url]}" target="_blank"><img src="{webroot:$item[img]}" width="750px" title="{$item['name']}" /></a></li>
			{/foreach}
		</ul>
		{/if}
	</div>
	<!--幻灯片 结束-->
</div>

{echo:Ad::show(6)}

<div class="wrapper clearfix">
	<div class="sidebar f_r">




	</div>

	<div class="main f_l">


		<!--最新商品-->
		<div class="box yellow m_10">
			<div class="title2">
				<h2><img src="{skin:images/front/new_product.gif}" alt="最新商品" width="160" height="36" /></h2>
			</div>
			<div class="cont clearfix">
				<ul class="prolist">
					{if:$this->area_id}
					
						{set:$items = Api::run('getCommendNewSameArea',array('#area_val#',$this->area_id));}
           

					{else:}
						{set:$items = Api::run('getCommendNew',8);}
					{/if}
					{foreach:items=$items}
					{set:$tmpId=$item['id'];}
					<li style="overflow:hidden">
						<a href="{url:/site/products/id/$tmpId}"><img src="{url:/pic/thumb/img/$item[img]/w/175/h/175}" width="175" height="175" alt="{$item['name']}" /></a>
						<p class="pro_title"><a title="{$item['name']}" href="{url:/site/products/id/$tmpId}">{$item['name']}</a></p>
						<p class="brown">惊喜价：<b>￥{$item['sell_price']}</b></p>
						<p class="light_gray">市场价：<s>￥{$item['market_price']}</s></p>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<!--最新商品-->

		<!--首页推荐商品-->
		{foreach:items=Api::run('getCategoryListTop')  item=$first }
		<div class="box m_10" name="showGoods">
			<div class="title title3">
				<h2><strong>{$first['name']}</strong></h2>
				
				<ul class="category">
					{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id']))  item=$second}
					<li>{$second['name']}<span></span></li>
					{/foreach}
				</ul>
			</div>

			<div class="cont clearfix">
				<ul class="prolist">
					{if:$this->area_id}
						{set:$items = Api::run('getCategoryExtendListSameArea',array('#categroy_id#',$first['id']),array('#area_val#',$this->area_id),20);}

					{foreach:items=$items}
					<li style="overflow:hidden">
						<a href="{url:/site/products/id/$item[id]}"><img src="{url:/pic/thumb/img/$item[img]/w/175/h/175}" width="175" height="175" alt="{$item['name']}" title="{$item['name']}" /></a>
						<p class="pro_title"><a title="{$item['name']}" href="{url:/site/products/id/$item[id]}">{$item['name']}</a></p>
						<p class="brown">销售价<b>￥{$item['sell_price']}</b></p>
					
					</li>
					{/foreach}
					
					
									{else:}
{set:$items = Api::run('getCategoryExtendList',array('#categroy_id#',$first['id']),8);}
					{/if}	
					
					
							{foreach:items=$items}
					<li style="overflow:hidden">
						<a href="<?php echo BASE_URL;?>/index.php?controller=simple&action=login&callback="><img src="{url:/pic/thumb/img/$item[img]/w/175/h/175}" width="175" height="175" alt="{$item['name']}" title="{$item['name']}" /></a>
						<p class="pro_title"><a title="{$item['name']}" href="<?php echo BASE_URL;?>/index.php?controller=simple&action=login&callback=">{$item['name']}</a></p>
						<p class="brown">销售价<b>￥{$item['sell_price']}</b></p>
					
					</li>
					{/foreach}
					
					
					
					
				</ul>
			</div>
		</div>
		{/foreach}

		<!--品牌列表-->
		<div class="brand box m_10">
			<div class="title2"><h2><img src="{skin:images/front/brand.gif}" alt="品牌列表" width="155" height="36" /></h2></div>
			<div class="cont clearfix">
				<ul>
					{foreach:items=Api::run('getBrandList',6)}
					{set:$tmpId=$item['id'];}
					<li><img src="{webroot:$item[logo]}"  width="110" height="50"/>{$item['name']}</li>
					{/foreach}
				</ul>
		  </div>
		</div>
		<!--品牌列表-->

		<!--最新评论-->
		<div class="comment box m_10">
			<div class="title2"><h2><img src="{skin:images/front/comment.gif}" alt="最新评论" width="155" height="36" /></h2></div>
			<div class="cont clearfix">
				{foreach:items=Api::run('getCommentList',6)}
				<dl class="no_bg">
					{set:$tmpGoodsId=$item['goods_id'];}
					<dt><img src="{url:/pic/thumb/img/$item[img]/w/66/h/66}" width="66" height="66" /></dt>
					<dd>{$item['name']}</dd>
					<dd><span class="grade"><i style="width:{echo:$item['point']*14}px"></i></span></dd>
					<dd class="com_c">{$item['contents']}</dd>
				</dl>
				{/foreach}
			</div>
		</div>
		<!--最新评论-->
	</div>
</div>

<script type='text/javascript'>
//dom载入完毕执行
jQuery(function()
{
	//幻灯片开启
	$('.bxslider').bxSlider({'mode':'fade','captions':true,'pager':false,'auto':true});

	//index 分类展示
	$('#index_category tr').hover(
		function(){
			$(this).addClass('current');
		},
		function(){
			$(this).removeClass('current');
		}
	);

	//email订阅 事件绑定
	var tmpObj = $('input:text[name="orderinfo"]');
	var defaultText = tmpObj.val();
	tmpObj.bind({
		focus:function(){checkInput($(this),defaultText);},
		blur :function(){checkInput($(this),defaultText);}
	});

	//显示抢购倒计时
	var cd_timer = new countdown();
	{if:isset($countNumsItem) && $countNumsItem}
	{foreach:items = $countNumsItem}
		cd_timer.add({$item});
	{/foreach}
	{/if}

	//首页商品变色
	var colorArray = ['green','yellow','purple'];
	$('div[name="showGoods"]').each(function(i)
	{
		$(this).addClass(colorArray[i%colorArray.length]);
	});
});

//电子邮件订阅
function orderinfo()
{
	var email = $('[name="orderinfo"]').val();
	if(email == '')
	{
		alert('请填写正确的email地址');
	}
	else
	{
		$.getJSON('{url:/site/email_registry}',{email:email},function(content){
			if(content.isError == false)
			{
				alert('订阅成功');
				$('[name="orderinfo"]').val('');
			}
			else
				alert(content.message);
		});
	}
}
</script>
